
/*comments form*/
#form_layout {
    width: 500px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
}
label {
    float: left;
    width: 100%;
}
input[type=text], input[type=email], textarea {
    width: 95%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}
input[type=submit] {
    width: 30%;
    background-color:#FFBC00;
    color: white;
    border: 2px solid #FFCB00;
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
    margin-bottom: 15px;
    float: left;
}


/*center the entire content*/
html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    min-width: 320px;
    max-width: 1024px;
    background-color: #D9D9D9;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: top center;
}

/*configues the navigation area*/
.header {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.header a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #333;
}

.header a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/*configures the main area*/
.main {
    background-color: #D9D9D9;
    min-width: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px;
    margin-bottom: 800px;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    clear: left;
}

p {
    line-height: 180%;
}


/*configure the footer area*/
.footer {
    background-color: #333;
    color: white;
    font-size: 12px;
    text-align: left;
    padding: 10px 10px;
}


/*configure the back to top button*/
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    display: none;
    color: white;
    background-color: grey;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    padding: 6px;
 }

 .scrollup:hover {
     background-color: #555;
 }